
#one{
    
    animation:around-item-one 10s linear infinite;
}
#two{
    
    animation:around-item-two 10s linear infinite ;
}
#third{
    animation:around-item-three 10s linear infinite ; 
   
}
#fourth{
    animation:around-item-four 10s linear infinite ;

} 

 
    
@keyframes around-item-one {
    
  25%   { transform: translateX(100%) translateY(0%) ; }
   50%  {transform: translateY(100%) translateX(100%);}
   75%   { transform: translateX(0%) translateY(100%) ; }
    100%  {transform: translateY(0) translateX(0)  }
    
}
@keyframes around-item-two {
    
    25%   { transform: translateX(0) translateY(-100%) ; }
     50%  {transform: translateY(-100%) translateX(100%);}
     75%   { transform: translateX(100%) translateY(0) ; }
      100%  {transform: translateY(0) translateX(0)  }
      
  }
  @keyframes around-item-four {
    
    25%   { transform: translateX(-100%) translateY(0) ; }
     50%  {transform: translateY(-100%) translateX(-100%);}
     75%   { transform: translateX(0) translateY(-100%) ; }
      100%  {transform: translateY(0) translateX(0)  }
      
  }
  @keyframes around-item-three {
    
    25%   { transform: translateX(0) translateY(100%) ; }
     50%  {transform: translateY(100%) translateX(-100%);}
     75%   { transform: translateX(-100%) translateY(0) ; }
      100%  {transform: translateY(0) translateX(0)  }
      
  }
  .side-left-img{
    animation: slideLeft ease-in 4s;  
  }
  .side-right-img {
      animation: slideRight ease-in 4s ;
  }
  .left-mid-img{
      animation: slideLeft ease-out 1.8s; 
  }
  .right-mid-img{
      animation: slideRight ease-out 1.8s ;
  }
  
  @keyframes slideLeft {
      0% {
          transform: translateX(-250%);
      }      
      100% {
          transform: translateX(0%);
      }   
  }
  @keyframes slideRight {
      0% {
          transform: translateX(250%);
      }      
      100% {
          transform: translateX(0%);
      }   
  }