@media screen and (max-width:992px){
    .first-screen{
        flex-direction: column;
    }
    .second-screen-img-wrap{
        flex-direction: column-reverse;
        margin-top: 210%;
    }
    .expert-wrap{
        flex-direction: column;
    }
   body .third-screen{
        margin-top: 150%;
    }
    body .fourth-screen{
        flex-direction: column-reverse;
        margin-top: 110%;
    }
    body footer {
        margin-top: 30%;
    }
    footer li{
        font-size: 2rem;
    }
    footer .text-footer{
        font-size: 2.5rem;
    }
    header .nav a{
        font-size: 2rem;
    }
}




@media screen and (max-width:768px){
   body .first-screen{
        flex-direction: column;
        margin-top: 140%;
    }
    body .mid-size-img{
        width: 70%;
         margin-left: 15% ;
    }
    .adapt-left-992{
        flex-direction: column;
    }
    .adapt-right-992{
        flex-direction: column;
    }
    body .second-screen{
        margin-top:40% ;
    }
    .img-hiden{
        display: none;
    }
    .expert-wrap{
        flex-direction: column;
        
    }
    .expert-wrap .adapt-exp992{
        flex-direction: column;
    }
    
    .exp-cont .name-string{
      color: gold; 
      width: 39%;
      margin-left: 20%;
    }
    .exp-cont .expert-img{
        width: 50%;
    }
    body .fourth-screen{
        flex-direction: column-reverse;
        margin-top: 300%;
    }

    footer li{
        font-size: 1.5rem;
    }
    footer .text-footer{
        font-size: 2rem;
    }
    header .nav a{
        font-size: 1.4rem;
        margin-right: 0;
    }
    .first-screen .side-left-img{
        animation: slideLeft ease-out 1s;  
      }
      .first-screen .side-right-img {
          animation: slideRight ease-out 7s  ;
      }
    .first-screen  .left-mid-img{
          animation: slideLeft linear 2s ; 
      }
      .first-screen .right-mid-img{
          animation: slideRight ease-out 4s  ;
      }
}


@media screen and (max-width:1620px){
  body  .first-screen,body .second-screen,body .third-screen,body .fourth-screen{
    margin-left:3% ;
    margin-right: 3%;
  }
}


