@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300;400;500;700&family=PT+Sans:ital@1&family=Public+Sans:wght@400;500;700&family=Rosario:ital,wght@0,600;0,700;1,600;1,700&display=swap');
@import url(../style/animation.css);
@import url(../style/media.css);
:root{
    font-family: 'Rosario';
    font-size: 10px;
    
}
body{
    margin: 0;
    padding: 0;
}
header{
    display:flex ; 
    width: 100%;
    position: sticky;
    top: 0;
    height: 100px;   
}

.nav{
    display: flex;
    justify-content: right;
    background-color: black;
    width: 100%;
    align-items: center;
    
}
.nav a{
    color: white;
    text-decoration: none;
    font-size: 2.8rem;
    font-style: italic;
    font-weight: 700;
    margin-left: 1rem;
    margin-right: 2rem;
}

.first-screen{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    height: 100vh;
   
    
}
.mid-size-img {
    width: 94%;
    height: 300px;
    padding: 0.5rem;
    
}
.side-img-size{
width: 100%; 
height: 400px;
transition: 2s all;
margin: 0 auto;
}
.side-img{
    display: flex;
    margin: 8rem auto; 
}

.second-screen{
    height: 100vh;
    display: flex; 
    width: 100%;
    margin-top: 15%;
    
   
}
.second-screen-img-wrap{
    display: flex;
    align-items: center;
    margin-left: 8rem;
    

    
}
.round-cont{
    display: flex;
}
#second-img{
    height: 85%;
    width: 90%; 
    margin-left: 4rem; 
}
.round-size{
    
    width: 70%;  
}
.round-img-cont{
    text-align: center;
    padding-top: 5rem; 

}
.round-text{
    text-align: center;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 700;
}

.third-screen{
    height: 100vh;
    text-align: center;
    margin-top: 20%;
}
.expert-wrap{
    display: flex;
    justify-content: center ;
    margin: 4rem auto; 
    
}
.adapt-exp992{
    display: flex;
    justify-content: space-around;
    padding: 5%;

}
.exp-cont{
    padding: 6%;
}


.expert-img{
    width: 23rem;
    
}
.h-expert{
    font-weight: 700;
    font-size: 6rem;
}
.name-string{
    background-color: rgba(163, 83, 10, 0.7);
    font-size: 3rem;
    font-weight: 400;
    color: white;
    height: 5rem;
    width:  23rem;
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    margin-top: -5.3rem;
    
    z-index:-1;
}
.expert-wrap :hover ~ .name-string{
    z-index: 2;
}
.expert-wrap:hover #meredith {
    filter: brightness(0.5);
 }
 
 .expert-wrap #meredith:hover {
    filter: brightness(1);
 }
 .expert-wrap:hover #jason {
    filter: brightness(0.5);
 }
 
 .expert-wrap #jason:hover {
    filter: brightness(1);
 }
 .expert-wrap:hover #ryan {
    filter: brightness(0.5);
 }
 
 .expert-wrap #ryan:hover {
    filter: brightness(1);
 }
 .expert-wrap:hover #james{
    filter: brightness(0.5);
 }
 
 .expert-wrap #james:hover {
    filter: brightness(1);
 }


.fourth-screen{
    height: 100vh;
    margin: 4rem auto;
    display: flex;
    justify-content: space-around;
    width: 95%;
    
}

.input-wrap{
    background-color:  #E5E5E5;
    width: 62rem;
    height: 30rem;
    margin-top: 3rem;
}
input{
    margin: 2rem 2rem;
    height: 2.5rem;
    width: 25rem;
}
textarea{
    width: 55.5rem;
    height: 20rem;
    margin-left: 2rem;
}
.h-iput{
    font-style: italic;
    font-weight: 700;
    font-size: 5rem;
    text-align: center;
    max-width: 80%;
}
footer{
    margin: 4rem auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
ol{
    list-style-type: none;
    text-align: center;
}
li{
    font-style: italic;
    font-size: 2.4rem;
    font-weight: 600;
}
li a{
    text-decoration: none;
    color: black;
}
.text-footer{
    font-size: 3.2rem;
    text-align: center;
}
.adapt-left-992{
    display: flex;
    
    
}
.adapt-right-992{
    display: flex;
  
}


