header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
  }
  body{
    margin: 0;
    
    
  }
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
  }
  
  .nav li {
    margin-right: 20px;
  }
.order-item{
    border: solid 2px #6a040f;
    border-radius: 15px;
    width: 65%;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: #6a040f 0 0 3px 1px;
    font-size: 18px;
    font-weight: 500;
}
.order-img{
  box-shadow: #6a040f 0 0 2px 1px; 
  height: 130px;
  border-radius: 10px ;
}
.clear-btn{
    padding: 5px 8px 5px 8px;
    background-color: #df2935;
    font-size: 24px;
    font-weight: 500;
    color: white;
    border-radius: 25px;
    width: 170px;
    
    
}
.order-cont{
    text-align: center;
    margin-top: 50px;
}
.checkout-btn{
    padding: 5px 8px 5px 8px;
    background-color: #ffd100;
    font-size: 24px;
    font-weight: 500;
    color: #190028;
    border-radius: 25px;
    width: 170px; 
    
}
.btns{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 20px auto;
    justify-content: space-around;
}
.valid-cont{
    margin: 50px auto;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}
.true{
    box-shadow:  0 0 10px 6px #8cb369;
    border: 1px solid #8cb369;
}
.false{
    box-shadow:  0 0 10px 6px #db3a34;
    border: 1px solid #db3a34;
}

.cont{
    display: none;
    margin: 50px auto;
    max-width: 250px;
    transition: 0.7s;
}
input{
    
    padding: 4px;
}

section{
    margin: 50px auto;
    border: 5px solid #283618;
    width: 40%;
    padding: 20px;
    border-radius: 20px;
}

.btn{
    max-width: 200px;
    margin: 20px auto;
}
.text-link{
    margin-top: 10px;
    }
    .text-link a{
        font-weight: bold;
        text-shadow: 0 0 3px  #edae49,
        0 0 45px #d1495b;
       
        font-size: 22px;
        color: #8d0801;
        
    }