header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
}
body{
  margin: 0;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.nav li {
  margin-right: 20px;
}



.pagination {
  display: flex;
  justify-content: right;
  padding-bottom: 20px;
}

.pagination__list {
  margin-top: 15px;
  width: 600px;
  flex-wrap: wrap;
  display: flex;
  list-style-type: none;
}

.pagination__item {
  width: 40px;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  margin:0 1px;
  border-radius: 25%;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  border: 2px splid red;
}

.pagination__item--active {
  font-weight: 900;
  border-color: #101010;
  background:#c95d63;
  color: wheat;
  box-shadow: 0 0 8px #03045e;
}

.modal {
  display: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #d0f4de;
  margin: 15% auto;
  padding: 20px;
  border: 3px solid #e29578;
  border-radius: 10px;
  width: 90%;

}

.close-btn {
  float: right;
  padding: 3px;
  border: 2px solid #B93B54;
  border-radius: 10px;
  font-weight: 400;
  font-size: 23px;
  cursor: pointer;
}

.modal-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.modal-img {
  width: 350px;
  height: 380px;
  border-radius: 15px;

}

.modal-name {
  font-weight: 600;
  font-size: 42px;
}

.modal-price {
  font-weight: 600;
  font-size: 36px;
}

.modal-size {
  font-size: 400;
  font-size: 32px;
}

.modal-btn {
  
  color: wheat;
  padding: 7px;
  font-weight: 500;
  margin: 50px auto;
  width: 150px;
  font-size: 24px;
  cursor: pointer;
  border: none;
  background-color: #d1495b;
  padding: 5px;
  border: 1px solid #691e06;
  border-radius: 15px;
  text-shadow: 0 0 2px  white,
  0 0 25px #03045e;
  box-shadow:0 0 5px #ae2012;
}

.description-title {
  width: 100%;
  font-weight: 700;
  font-size: 42px;
  margin: 10px auto;
  text-align: center;
}

.modal-description {
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  
}
.footer{
  padding-top: 15px;
  min-width: 100%;
  height: 370px;
  background-color: #A04955;
  display: flex;
  
  
}
.footer-nav{
  font-family: Oswald;
  font-weight: 600;
  font-size: 24px;
  color: white;
  min-width: 20%;
  margin-top: 10px;
  
}
.footer-nav a{
  font-family: Oswald;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: white;
}
.footer-nav ol{
  list-style-type: none;
}
.mail-input{
  margin-left: 15px;
  position: relative;
  background-color: white;
  max-width: 400px;
  display: flex;
  
  
}
.mail-input input{
  width: 200px;
  height: 50px;
 padding-right: 50px;
  border-style: none;
  

}
.footer-nav span{
  font-size: 10px;
  color:white;
  background-color:#A04955;
  height: 2em;
  margin-top: 4px;
  width: 140px;
  text-align: center;
  margin-left:-20px ;
}
footer{
  box-shadow:0 0 5px #d00000;
  margin-left: 20px;
  font-family: Oswald;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.5;
}




.product-name{
  font-weight: 700;
  padding: 3px;
  height: 30px;
  font-size: 16px;
  }
  .product-price{
    font-weight: 600;
    font-size: 16px;
  }
  .prod-btn{
  background-color: #d1495b;
  padding: 5px;
  border: 1px solid #691e06;
  color: white;
  font-size: 14px;
  font-weight: 400;
  border-radius: 15px;
  cursor: pointer;
  text-shadow: 0 0 2px  white,
  0 0 25px #03045e;
  box-shadow:0 0 5px #ae2012;
  }
  
  .list__conatainer {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
   
    
    padding: 0;
    gap: 50px;
    
  }
  
  .list__item {
    height: 390px;
    width: 220px;
   margin-top: 10px;
   text-align: center;
    border-radius: 7px;
    cursor: pointer;
    background-color:#fcf6bd;
    box-shadow:0 0 5px #d00000;
  }
  
  .product__photo {
   margin-top: 5px;
    width: 95%;
    height: 230px;
    object-fit: cover;
    object-position:  center;
    border-radius: 5px;
  }
  .cont-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container{
    background-color:#E5E5E5;
  }
  .filter-cont{
    background-color:#e0fbfc;
    height: 400px;
    max-width: 270px;
    margin-top: 30px;
    padding: 15px;
    margin-left: 3%;
    border-radius: 10px;
    box-shadow:0 0 5px #0096c7;
  }
  .filter{
    background-color: #ffcad4;
    border: none;
    border-radius: 5px;
    padding: 5px;
    box-shadow:0 0 5px #403d39;
  }
  .price{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .size button{
    margin-left: 3px;
  }
  .text-link{
    margin-top: 10px;
    }
    .text-link a{
        font-weight: bold;
        text-shadow: 0 0 3px  #edae49,
        0 0 45px #d1495b;
       
        font-size: 22px;
        color: #8d0801;
        
    }