body{
    margin: 0;
   
}
header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
.nav li{
margin-right: 35px;
}
.shorts-banner{
 max-width: 1200px;
display: flex;
flex-wrap: wrap;
margin: 50px auto;
justify-content: space-between;
}
.shorts-banner__text-block{
    margin-top: 150px;
}
.shorts-banner_text-block_title{
    font-weight: 600;
    line-height: 62px;
    font-size: 52px;
    max-width: 500px;
}
.shorts-banner_text-block_text{
    margin-top: 15px;
    font-size: 18px;
}
.shorts-banner_btn{
    text-align: center;
    margin-top: 10px;
    font-weight: 300;
    font-size: 22px;
    padding: 5px;
    border: 1px solid red;
    max-width: 210px;
}
.shorts-banner_img{
    width: 100%;
height: 500px;
object-fit: cover;
object-position: top center
}


.pants-banner{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 80px auto;
    justify-content: space-between;
    }
    .text_block{
    margin-top: 150px;
}
.pants-banner-img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top center
}
.pants-banner_text-block{
    margin-top: 150px;
}
.pants-banner_text-block a{
    color: black;
}
.shorts-banner__text-block a{
    color:  black;
}
.pants-banner_title{
    font-weight: 600;
    line-height: 62px;
    font-size: 52px;
    max-width: 500px;
    
}
.pants-banner_text{
    margin-top: 15px;
    font-size: 18px;
    max-width: 400px;
}
.pants-banner_btn{
    text-align: center;
    margin-top: 10px;
    font-weight: 300;
    font-size: 22px;
    padding: 5px;
    border: 1px solid red;
    max-width: 210px;
}
.shirt-banner{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin:  70px auto;
    justify-content: space-around;
}
.shirt-banner_card{
    max-width: 450px;
}
.shirt-banner_img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: top center
}
.shirt-banner_discription{
    font-weight: 300;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
.shirt-banner_btn{
    text-align: center;
    margin: 10px auto;
    font-weight: 200;
    font-size: 16px;
    padding: 5px;
    border: 1px solid red;
    max-width: 250px;
}
.shirt-banner_btn a{
    color: black;
}
.sportif-pant_btn a {
    color: wheat;
}
.about-banner_btn a {
    color:  black;
} 
.sportif-pant{
    width: 100%;
    margin-top: 100px;
    background-image: url(../img/Rectangle15.png);
    background-attachment: fixed;
    background-repeat: no-repeat  ;
    height: 450px;
}
.sportif-pant ul{
    padding: 60px;
    max-width: 600px;
    color:  wheat;
    margin-left: 70px;
}
.sportif-pant_title{
    font-weight:  700;
    font-size: 54px;
}
.sportif-pant_discription{
    margin-top: 25px;
    font-size: 21px;
    font-weight: 300;
}
.sportif-pant_btn{
    margin-top: 30px;
    max-width: 280px;
    background-color: #A04955;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    border: 1px solid black;
}
.about-banner{
    width: 85%;
    text-align: center;
    margin: 220px auto;
    background-color:#F3F3F3 ;
    height: 360px;
    position: relative;
}
.about-banner_img{
    position: absolute;
    left: 38% ;
    top: -46.5%;
}
.about-banner_list{
    padding-top: 130px;
    max-width: 85%;
    margin: 0 auto;
}
.about-banner_title{
    font-weight: 700;
    font-size: 54px;
}
.about-banner_text{
    margin-top: 15px;
    font-weight: 300;
    font-size: 21px;
}
.about-banner_btn{
    margin: 30px auto;
    font-weight: 300;
    padding: 7px;
    font-size: 24px;
    border: 1px solid black;
    max-width: 200px;
}
.footer{
    margin-top: 15px;
    min-width: 100%;
    height: 370px;
    background-color: #A04955;
    display: flex;
    
    
}
.footer-nav{
    font-family: Oswald;
    font-weight: 600;
    font-size: 24px;
    color: white;
    min-width: 20%;
    margin-top: 10px;
    
}
.footer-nav a{
    font-family: Oswald;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: white;
}
.footer-nav ol{
    list-style-type: none;
}
.mail-input{
    margin-left: 15px;
    position: relative;
    background-color: white;
    max-width: 400px;
    display: flex;
    
    
}
.mail-input input{
    width: 200px;
    height: 50px;
   padding-right: 50px;
    border-style: none;
    

}
.footer-nav span{
    font-size: 10px;
    color:white;
    background-color:#A04955;
    height: 2em;
    margin-top: 4px;
    width: 140px;
    text-align: center;
    margin-left:-20px ;
}
footer{
    margin-top: 20px;
    margin-left: 20px;
    font-family: Oswald;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.5;
}
.text-link{
margin-top: 10px;
}
.text-link a{
    font-weight: bold;
    text-shadow: 0 0 3px  #edae49,
    0 0 45px #d1495b;
   
    font-size: 22px;
    color: #8d0801;
    
}