body{
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    background-color: #F5F5F5;
    
}
.navbar{
    width: 100%;
    height: 90px;
    background-color: #202846;
}
.navbar .container{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu li{
    display: inline-block; 
    margin-left: 20px;
    margin-right: 20px;
    color: wheat;
    font-size: 1.1em;
    
}
.navbar-wrap{
    display: flex;
    flex-flow: row nowrap;  
}
.logo{
    padding-left: 30px;
    width: 40 px;}
  .head{
    background-color: #C6C6DC;
    color: #202846;
    height: 110px;
    font-size: 2.3em;
    padding-left: 150px;
    max-height: 1.5em;
    padding-top: 50px;
  } 
  .choice-bar{
    background-color: #E8E8E8;
    color: #000000 61% ;
    text-align: center;
    height: 45px;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 40px;
  } 
  .arrow{
    padding-left: 900px;
  }
  .wrap-card{
    height: 290px;
    width: 960x;
    background-color: #BDBDC6;
    margin-top: 40px;
   display: flex;
   position: relative;
   margin-top: 60px;
   margin-left: 180px;
   margin-right: 180px;
   
  }
  .wrap-card :hover .detail{
    background-color: #EF075B;
  }
  .wrap-card :hover .star{
    fill: coral;
  }
  .wrap-card:hover{
    background-color:  #AEAEE2;
   
  }
  
  
  .img-card{
    height: 220px;
    width: 350px;
    padding-left: 15px;
    padding-top: 20px;
  }
  .text{
    height: 120px;
    width: 450px;
    background-color: #D7D7DD;
  position: absolute;
  margin-left: 400px;
    margin-top: 110px;
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    
  }
  .star{
    position: absolute;
    padding-left: 920px;
    padding-top: 15px;
  }
 
 
  .detail {
    position: absolute;
    padding: 10px;
    border-radius: 20px/20px;
    background-color: #202846;
    border: solid 0px;
    color: white;
    margin-left: 900px;
    margin-top: 264px;
  }

 

  .h-card{
    position: absolute;
    font-size: x-large;
    color: #353C57;
    margin-left: 400px;
    margin-top: 60px;
    border-bottom: solid wheat 3px;
    width: 510px;
    text-align: left;
  }
  .head2{
    margin-top: 100px;
    background-color: #C6C6DC;
    color: #202846;
    height: 110px;
    font-size: 2.3em;
    padding-left: 150px;
    max-height: 1.5em;
    padding-top: 50px;
  }
  .personal-card{
    margin-top: 170px;
  width: 1100px;
  height: 400px;
  background-color: #BDBDC6;
  margin-left: 140px;
  display: flex;
  position: relative;
  }
  .avatar{
margin-left: 80px;
margin-top: 40px;
  }
  .change-avatar{
    color: wheat;
    background-color: #69749B;
    height: 20px;
    margin-top: 250px;
    margin-left: 81px;
    position: absolute;
    border: solid 0;
    border-radius: 20px/20px;
    padding: 10px 40px;
  }
  .setting{
    color: wheat;
    margin-top: 315px;
    margin-right: 100px;
    margin-left: 81px;
    position: absolute;
    background-color: #484A54;
    border: solid 0;
    border-radius: 20px/20px;
    padding: 10px 40px;
  }
  .exit{
    background-color: #202846;
    color: wheat;
    margin-top: 50px;
   padding: 10px 40px;
    margin-left: 650px;
    border: solid 0;
    border-radius: 20px/20px;
    position: absolute;
  }
  .info li{
    list-style-type: none;
    margin-top: 30px;
    font-size: larger;
    color: #353C57;
    border-bottom: white 2px solid;
    width: 700px;
  }
  .info{
    margin-top: 60px;
    margin-left: 50px;
  }
  .info span{
    font-weight: bolder;
  }
 .contact li{
  list-style-type: none;
  width: 200px;
 }
 .contact{
  margin-left: 100px;
  display: flex;
  position: relative;
 }.map{
  margin-top: 150px;
  position: absolute;
  margin-left: 600px;
 }
.addres{
  position: absolute;
  margin-top: 300px;
 margin-left: 100px;
}
.mail{
  position: absolute;
  margin-top: 30px;
  margin-left: 800px;
}
.work{
  position: absolute;
  margin-top: 30px;
  margin-left: 450px;
}
.tel{ position: absolute;
  margin-top: 30px;
  margin-left: 100px;

}.line{
  border-bottom: #202846 2px solid;
}.footer{
  margin-top: 600px;
  color: wheat;
  width: 100%;
background-color: #202846;
}