body{
    font-size: 10px;
}
header{
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 94%;
     font-family: Oswald;
     font-weight: 400;
}  
.nav li{  
    display: inline-block;
    margin-left: 4em; 
}
.nav a{
    text-decoration: none;
    color: 
    #333333;
    font-size: 2em;
}
.search input{
border-radius: 20px/30px;
}
.wrap-banner{
    margin: 5em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 92%;
}
.text-banner{
    max-width: 45%;
}
.h-banner{
    font-family: Oswald;
    font-weight: 700;
    font-size: 6em;
}  
.text-b{
    font-family:  Open Sans;
    font-weight: 300;
    font-size: 2.4em;
}
.button-banner{
    margin-top: 2em;
    border:  1px solid  black;
    max-width: 45%;
 text-align: center;  
}
.button-banner a{
    text-decoration: none;
    color: black;
    font-family:  Open Sans;
    font-weight: 300;
    font-size: 2.4em;
    border: 1 solid black;
}
.banner-img{
    max-width: 52%;
    align-items: center;
    
}
.sale-banner{
    min-width: 100%;
    background-color: #F1F1F1;
    height: 700px;
}
.card-wrap{
    display: flex; 
    margin-top: 5em;
}
.card{
    margin-left: 9.5em;
    width: 210px;
    height:350px ;
    background-color: #FFFFFF;
    text-align: center;
}

.sale-img{
    margin-top: 2.5em;
}
.name-item{
    font-family: Oswald;
    font-weight: 500;
    font-size: 2em;
    max-width: 180px;
    margin-left: 1em;  
}
.sale-price{
margin-top: 1em;
font-family: Oswald;
    font-weight: 300;
}
.sale-price span{
    font-weight: 500;
}
.sale-button{
    width: 100px;
     
    background-color: #A04955;
    color: white;
    margin-top: 1.5em;
    margin-left: 5.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.first-string{
    font-family: Oswald;
    font-weight: 500;
    font-size: 3.5em;
    
}
.second-string{
    font-family: Oswald;
    font-weight: 500;
    font-size: 6.5em;
}.s-text{
    text-align: center;
    padding-top: 5em;
}
.pants{
    margin: 5em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 92%; 
}.pants-img{
    max-width: 52%;
    align-items: center;
}
.pants-text{
    max-width: 45%;
}
.pants-h{
    font-family: Oswald;
    font-weight: 700;
    font-size: 6em;
}  
.pants-description{
    font-family:  Open Sans;
    font-weight: 300;
    font-size: 2.4em;
}
.pants-button{
    margin-top: 2em;
    border:  1px solid  black;
    max-width: 45%;
 text-align: center;  
}
.pants-button a{
    text-decoration: none;
    color: black;
    font-family:  Open Sans;
    font-weight: 300;
    font-size: 2.4em;
    border: 1 solid black;
}
.shirt-wrap{
    min-width: 100%;
    background-color: #F1F1F1;
    height: 900px;
    display: flex;
    justify-content: space-between; 
}
.shirt-img{
    margin-left: 2.5em;
    margin-top: 5em;
    margin-right: 2.5em; 
}
.shirt-text{
    max-width: 555px;
    margin-left: 1em;
    margin-top: 1em;
    font-family:  Open Sans;
    font-weight: 300;
    font-size: 2.4em;
}
.shirt-button{
    margin-top: 2em;
    border:  1px solid  black;
    max-width: 60%;
 text-align: center;  
 margin-left: 12em;
}
.shirt-button a  {
    text-decoration: none;
    color: black;
    font-family:  Open Sans;
    font-weight: 300;
    font-size: 2.4em;
    border: 1 solid black;
}  
.info-line{
    background-color:#A04955;
    min-width: 40.8%;
    color: white;
    font-family: Oswald;
    font-weight: 500;
    font-size: 3em;
    text-align: center;
    opacity: 0.7;
    position: absolute;
    margin-left: 0.83em;
    margin-top: -1.5em;
}
.sp_pant{  
    min-width: 100%;
    height: 550px;
    background-image:url(../img/Rectangle\ 15.png) ;
    background-repeat: no-repeat;
    background-position: center center;
}
.sp_pant-wrap{
    max-width: 530px;
    margin-left: 10em;
}
.sp_pant-h{
    color: white;
    font-family: Oswald;
    font-weight: 700;
    font-size: 6.5em;
}
.sp_pant-text{
    font-family:  Open Sans;
    font-weight: 300;
    font-size: 2.4em;
color: white;
}
.sp_pant-buttom{
    margin-top: 2em;
    max-width: 90%;
 text-align: center;  
 background-color: #A04955;
 margin-top: 3em;

}
.sp_pant-buttom a{
    color: white;
    font-family:  Open Sans;
    font-weight: 300;
    font-size: 2.4em;
    text-decoration: none;
}
.trend{
    background-color: #A04955;
    max-width: 90%;
    margin-left: 7em ;
    margin-top: 8em;
    height: 450px;
    
    
}
.trend-text{
    font-family: Oswald;
    font-weight: 700;
    font-size: 6em;
    color: white;
    text-align: center;
    
   
    
}
.cont-card{
    display: flex;
    justify-content:space-between ;
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    position:absolute ;
    margin-top: 4em;
}
.trend-card{
    width: 260px;
    height: 350px;
    background-color: white;
    border: 1px solid black;
    padding-left: 6em;
    padding-top: 1em;
    margin-left: 4.8em;  
    vertical-align: middle; 
    justify-content: center;
}
.trand-name{
    font-family: Oswald;
    font-weight: 500;
    font-size: 2em;
}
.trend-buttom{
    font-family:  Open Sans;
    font-weight: 300;
   text-align: center;
    background-color: #A04955;
    color: white;
    max-width: 200px;
}
.trend-buttom a {
    color: white;
    font-family:  Open Sans;
    font-weight: 200;
    font-size: 1.4em;
    text-decoration: none;
}
.about-company{
    margin-top: 20%;
    background-color: #F3F3F3;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 410px;
    text-align: center;
    position: relative;
    
}
.logo-company{
    position: absolute;
    margin-left: 40%;
    margin-top: -14%;
}
.h-company{
    font-family: Oswald;
    font-weight: 500;
    font-size: 6.5em;
    padding-top: 2em;
}
.text-company{
    font-family:  Open Sans;
    font-weight: 300;
    font-size: 2.4em;
}
  .company-buttom {
    padding-top: 5em;
  }
.company-buttom a{
    font-family:  Open Sans;
    font-weight: 300;
    font-size: 2.4em;
    text-decoration: none;
    color: black;
    border:  1px solid  black;
    padding: 0px 15px;
    
}
.anchor {
    position: sticky;
    top: 0;
  margin-left: 115em; 
margin-top: 1em;
background-image: url(../img/Ellipse\ 1.png);
background-repeat: no-repeat;
background-position: top  ;
min-height: 100px;
min-width: 100px;

}
.footer{
    margin-top: 15em;
    min-width: 100%;
    height: 450px;
    background-color: #A04955;
    display: flex;
    
}
.footer-nav{
    font-family: Oswald;
    font-weight: 600;
    font-size: 2.4em;
    color: white;
    min-width: 20%;
    margin-top: 1em;
    
}
.footer-nav a{
    font-family: Oswald;
    font-weight: 400;
    font-size: .6em;
    text-decoration: none;
    color: white;
}
.footer-nav ol{
    list-style-type: none;
}
.mail-input{
    margin-left: 1.5em;
    position: relative;
    background-color: white;
    max-width: 400px;
    display: flex;
    
    
}
.mail-input input{
    width: 200px;
    height: 50px;
   padding-right: 5em;
    border-style: none;
    

}
.footer-nav span{
    font-size: 0.8em;
    color:white;
    background-color:#A04955;
    height: 2em;
    margin-top: 0.4em;
    width: 140px;
    text-align: center;
    margin-left:-2em ;
}
footer{
    margin-top: 2em;
    margin-left: 2em;
    font-family: Oswald;
    font-weight: 400;
    font-size: 1.6em;
    opacity: 0.5;
}
#img2{
    height: 265px;
}
#img3{
    height: 265px;  
}