@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;600;700&family=Roboto:wght@700&family=Work+Sans:wght@500;600;700&display=swap');

:root{
    --orange: #FFB742;
    --black : #212529;
    --font-Inter: 'Inter', sans-serif;
    --font-Roboto :'Roboto', sans-serif;
    --font-Work-Sans : 'Work Sans', sans-serif;
    font-size: 10px;
}

body{
    background-color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

body, ul{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
}

.header__navigation{
    list-style: none;
    display: flex;
    width: 40%;
    justify-content: space-between;
    text-transform: capitalize;
}

.header__navigation a {
    color: white;
    font-weight: 600;
    transition: all 1s;
}

.header__navigation a:hover{
    color: var(--orange);
}


.header__navigation + div > a{
    color: var(--black);
    text-align: center;
    width: 121px;
    background-color: var(--orange);
    border: 2px solid var(--orange);
    display: inline-block;
    padding: 10px 0;
    border-radius: 50px;
}

.three-main-blocks{
	display: flex;
	justify-content: space-between;
    margin-top: 10%;
}
.card-des{
	text-align: center;
}
.card-wrapper{
	width: 30%;
	height: 120px;
	background-color: #292B2E;
	align-items: center;
	display: flex;
	justify-content: space-around;
	border-radius: 10px;
	transition: all .5s;
}
.card-wrapper:hover{
	background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
	border-radius: 10px;
}
.card-text{
	font-family: var(--font-Inter);
	font-size: 3.2rem;
	font-weight: bold;
	color: var(--orange);
}
.card-small-text{
	font-family: var(--font-Inter);
	font-size: 1.6rem;
	font-weight: bold;
	color: white;
}
.card-wrapper:hover .card-text, .card-wrapper:hover .card-small-text{
	color: var(--black);
}
.description{
    text-align: center;
    font-family: var(--font-Inter);
    color: white;
   margin-top: 10%;
}
.description a{
    color: white
}
.des-h1 :hover  {
    color: var(--orange);
    text-decoration: underline;
}
.des-h1 {
    font-size: 3.2rem ;
    font-weight: 700; 
}
.des-h2{
    font-size: 4.8rem ;
    font-weight: 700;
    margin-top: 1%;
}
.text{
    font-weight: 400;
    font-size: 1.6rem;
    margin-top: 1%;
    margin-bottom: 3%;
    color: white;
}
.about{
    display: flex;
    margin-top: 10%;
    justify-content: space-around;
}
.about-text{
    
    max-width: 95%;
}
.h1{
    color: var(--orange);
    font-size: 2rem;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.08);
    max-width: 23%;
    text-align: center;
    padding: 0.5rem;
    border-radius: 22px;
}
.h2{
    color: white;
    font-family: var(--font-Roboto);
    font-size: 4.8rem;
    margin-bottom: 2rem;
}
.about-text{
    font-weight: 400;
    font-size: 1.6rem;
    color: white;
    margin-top: 1.5rem;
}
.about-bottom a {
    color: var(--black);
    text-align: center;
    background-color: var(--orange);
    border: 2px solid var(--orange);
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1.8rem;
    font-weight: 700;
}
.about-bottom {
    margin-top: 7rem;
}
.skills-wrap{
    max-width: 95%;
    display: flex;
    margin: 8rem auto;
    display: flex;
}
.skills-text{
    max-width: 50%;
}

.skills-img-block{
    display: flex;
    justify-content: space-around;
    min-width: 100%;
}
.skill-img-div{
    margin-left: 5rem;
    margin-top: 5rem;
   
}
.img{
    background-color: rgba(255, 255, 255, 0.08);
    padding: 1rem;
    border-radius: 10px;

}
.skill-img-div :hover {
    background-color:  #FFB742 ;
    padding:0.5 rem;
    border-radius: 10px;
    opacity: 0.6;
    transition: all .3s;
}
.works{
    text-align: center;
    margin-top: 7rem;
    
    
}
.h1-works{
    color: var(--orange);
    font-size: 2rem;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.08);
   max-width: 13%;
    margin-left: 43%;
    padding: 0.5rem;
    border-radius: 22px;
}
.works-nav {
    margin-top: 7rem auto;
    display: flex;
    justify-content: space-around;
    list-style: none;
    max-width: 50%;
    margin-left: 25%;
    
    
}
.works-nav a{
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
}
.works-nav li :hover{
    background-color:var(--orange);
    padding: 1rem 1rem;
    border-radius: 13px;
    color: var(--black);
}
.works-img{
    display: flex;
    margin: 4rem auto;
    max-width: 90%;
    justify-content: space-around;
}
.feedback{
    text-align: center;
    margin: 10rem auto;
    max-width: 90%;
}

.h1-feedback{
    color: var(--orange);
    font-size: 2rem;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.08);
   max-width: 18%;
    margin-left: 41%;
    padding: 0.5rem;
    border-radius: 22px;
}
.feedback-img{
    display: flex;
    justify-content: space-around;
}
footer{
    background-color: #1C1C1C;
    display: flex;
    justify-content: space-around;
    padding-top: 13rem;
    padding-bottom: 7rem;
}
.footer-h1{
    color: var(--orange);
    font-size: 3.2rem;
}
.footer-h2{
    font-family: var(--font-Work-Sans);
    color: #D4D4D4;
    font-weight: 600;
    font-size: 1.6rem;
}
footer ol{
    list-style: none;
}
footer ol li a{
    font-family: var(--font-Work-Sans);
    font-weight: 500;
    font-size: 1.8rem;
    color: #7B7B7B;
    margin-top: 1rem;
}
.footer-nav{
    font-family: var(--font-Work-Sans);
    font-weight: 700;
    font-size: 2.1rem;
    color: white;
    margin-bottom: 2rem;
}