@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300;400;500;700&family=PT+Sans:ital@1&family=Public+Sans:wght@400;500;700&display=swap');
:root{
    font-size: 10px;
    font-family: Public Sans ;
}

form{
    background-color: #E5E5E5;
    max-width: 700px;
    margin: 2rem auto;
}
.h-form{
font-weight: 700;
font-size: 2.4rem;
margin-left: 3rem;
padding-top: 4rem;


}
.h-block{
    font-size: 2.1rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.string{
    display: flex;
    justify-content:  space-between;
    margin: 1rem ;
}

.h-input{
font-size: 1.25rem;
font-weight: 500;
}
.input-text{
    width: 30rem;
    border-radius:  5px;
    border: solid #ADADAD 0.5px;
    margin-top: 0.5rem;
    height: 3rem;
    font-size: 1.6rem;
    font-weight: 400;
    
}
 .purged{
    font-size: 1.5rem;
    font-weight: 400;
   position: absolute;
   margin-top: 3rem;
   margin-left: -31rem;
    
}
.application-cb{
    font-size: 1.5rem;
    font-weight: 400;
   margin-left: 1rem;
   
}
.block{
    border-bottom: 3px solid #D1D1D1;
   padding-bottom: 3rem;
   max-width: 95%;
   margin: 1rem auto;
}
.requesting-cb{
    font-size: 1.5rem;
    font-weight: 400;
    
}
.search{
    position: absolute;
   margin-top: 0.8rem;
   margin-left: 27rem;
}
.bottom-wrap {
    justify-content: right;
    display: flex;
    max-width: 95%;
    margin-top: 4rem;
    padding-bottom: 5rem;
}
.bottom {
    background-color: #0050D8;
    padding: 1rem 2rem;
    border-radius: 10px;
}
.bottom a{
color: white;
font-size: 1.6rem;
font-weight: 700;
text-decoration: none;
}