@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300;400;500;700&family=PT+Sans:ital@1&family=Public+Sans:wght@400;500;700&family=Rosario:ital,wght@0,600;0,700;1,600;1,700&family=Work+Sans:wght@400;600;700&display=swap');
:root{
    font-family: 'Work Sans';
    font-size: 10px;
}
body{
   background-color: #E5E5E5; 
}
section{
  margin: 5rem auto;
    background-color: #FFB084;
    border-radius: 20px;
    height: 90vh;
    display: grid;
    grid-template-columns:33% 27% 27% ;
   grid-auto-rows: px;
    justify-content: center;
    gap: 3%;
    width: 75%;
    align-content: center;
    

}

section :nth-child(1){
grid-row: 1/7;

}
section :nth-child(2){
   grid-column: 2/4;
   grid-row: 1/3;
   font-size: 1.4rem;
  
    }
    section :nth-child(3){
        grid-row: 3/5; 
       
    }
    section :nth-child(4){
        grid-row: 3/6;
    }
    section :nth-child(5){
        grid-row: 5/8;
       
    }
    section :nth-child(6){
       grid-row: 6/8;
    }
section :nth-child(7){
    height: 70px;
}
ol{
    list-style-type: none;
    line-height: 2.8rem;
}
li{
    font-size: 1.4rem;
    font-weight: 400;
}
span{
    font-weight: 700;
    font-size: 1.4rem;
}
.card{
    background-color:  #FFFFFF;
    border-radius: 20px;
    padding: 3%;
}
.desire{
    font-size: 1.7rem;
    font-weight: 700;
    
    
}
.name div{
text-align: center;
margin-top: 1rem;
font-size: 2.4rem;
font-weight: 700;
}
.bio div{
    margin-top: 2rem;
}
.goals span{
    color: #29A71E;
    margin-left: 2rem;
}
.dream span{
    color: #3675B0;
    margin-left: 2rem;
}
.personality span{
    margin-left: 3rem;
} 
.frustration span{
    margin-left: 2rem;
    color: #E13535;
}
.name{
    box-shadow: 10px 10px 3px black;
}
.bio{
    box-shadow: 10px 10px 3px black;
}
.goals{
    box-shadow: 10px 10px 3px #29A71E;
}
.frustration{
    box-shadow: 10px 10px 3px  #E13535;
}
.dream{
    box-shadow: 10px 10px 3px  #3675B0;
}
.personality{
    box-shadow: 10px 10px 3px black;
}
.desire{
    box-shadow: 10px 10px 3px black;
}