body{
    background-color: #fefae0;
}
.cont{
    max-width: 250px;
}
input{
    
    padding: 4px;
}

section{
    margin: 50px auto;
    border: 5px solid #283618;
    width: 40%;
    padding: 20px;
    border-radius: 20px;
}
.true-length{
    box-shadow:  0 0 10px 6px #8cb369;
    border: 1px solid #8cb369;
}
.false-length{
    box-shadow:  0 0 10px 6px #db3a34;
    border: 1px solid #db3a34;
}
.vodafone{
    background: url(../img/vodafone.svg) no-repeat;
    background-position: right ;   
}
.lifecell{
    background: url(../img/logo.svg) no-repeat;
    background-position: right ;   
}
.kievstar{
    background: url(../img/global-ks-logo.svg) no-repeat;
    background-position: right ;   
}
.btn{
    margin-top: 20px;
    margin-left: 60px;
    
}