* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    background-image: url(../img/circle-scatter-haikei\ \(4\).svg) ;
    background-repeat: no-repeat;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  .comenths {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .post {
    padding: 8px;
    border-color: bisque;
    border: 1px;
  }
  .pagination {
    display: flex;
    justify-content: center;
  }
  .pagination__list {
    margin-top: 15px;
    width: 600px;
    flex-wrap: wrap;
    display: flex;
    list-style-type: none;  
  }
  .pagination__item {
    padding: 7px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #f4a261;
    border-radius: 50%;
    border: 2px solid #ae2012;
    width: 35px;
    height: 35px;
   
  }
  .pagination__item--active {
    font-weight: 800;
    color: #370617;
    border: 3px solid gold;
    background-color: #fdffb6;
  }
  .comenth-card{
    background-color: #ffd6ff;
    width: 100%;
    margin-top: 50px;
    border-radius: 20px;
    padding: 30px;
    border: 5px solid #dc2f02;
  }
  .name-comenth{
   margin-top:10px ;
  }
  .mail-comenth{
    margin-top:10px;
  }
  .body-comenth{
    margin-top:10px;
  }
  .loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #FF3D00;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }
