body{
    background-color: wheat;
}
.inp-cont{
 margin: 15px auto;
 width: 500px;
 text-align: center;
    
}
input {
    border-radius: 15px;
    font-size: 20px;
    margin-right: 5px;
       
}
.circle-cont{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 1200px;
    margin: 50px auto;

}
.circle {
    border-radius: 50%;
    margin: 3px ;
    border:solid 3px;
}