

 .black{
    background: #212529;
}
.silver{
    background: rgba(88, 88, 88, .5);
}
.red{
    background: rgba(231, 40, 40, 0.5);
}
.green{
    background: rgba(39, 211, 76, 0.5);
}
.container-stopwatch{
    margin:  50px auto;
    
    width: fit-content;
    padding: 1rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 0 10px black;
}
.stopwatch-display{
    background: rgba(22, 97, 12, 0.5);
    padding: 1.5rem;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}
.stopwatch-display span{
    font-size: 2rem;
    background-color:wheat; 
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}
.stopwatch-control button{
    text-transform: uppercase;
    color: white;
    background: rgba(0, 0, 0, 0.829);
padding: 7px;
    border: none;
    cursor:	grab;
    border-radius: 10px;
    transition: 0.3s;
}
.stopwatch-control button:nth-child(2){
    margin: 0 .5rem;
}
.stopwatch-control button:nth-child(3){
    margin: 0 .5rem;
}
.stopwatch-control button:hover{
    color:black;
    background-color: #FFB742;
}
.result{
    margin-top: 5px;
    background-color: wheat;
    border-radius: 10px;
}
