 body{
    text-align: center;
    font-size: 2em;
 }
 
 div{
    margin-bottom: 20px;
    margin-top: 30px;
    
 }
 .bg {
   height: 422px;
    background-image: url("../hw3/img/Успенський\ собор\ 1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: 100%;
    font-size: 200%;
    color: azure;
    padding-top: 100px;
    padding-left:100px ;
    white-space: pre-line;  
    text-align: left; 
}
.wrap {
    display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
   }
.bblock {
   border: 3px solid; 
   border-radius: 30px;
   border-color: #33B8F1;
    padding: 13px;
    margin-right: 7px;
    width: 410px;
}
.bot-border {
    border-bottom: #33ADF1 solid 4px;
    ;
}

.blue{
    color: #0BBBD3;

}
.white{
    color: white;
}
.sup{
    background-color: #33ADF1;
    width: 150px;
    color: white;
}
.bot-block{
    width: 100%;
    height: 300px;
    background-color:  #0A2DA9;
    padding-top: 50px; 
}a{
    text-decoration: none;
    color: #353949;
}
.img-p{ 
    padding-right: 1em;
}