@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&family=Open+Sans:wght@300&family=Oswald:wght@300;400;500;700&family=PT+Sans:ital@1&family=Public+Sans:wght@400;500;700&family=Rosario:ital,wght@0,600;0,700;1,600;1,700&family=Work+Sans:wght@400;600;700&display=swap');   
:root{
    font-family:  'Montserrat';
    font-size: 10px;
}
header{
    border-bottom: 2px solid #C4C4C4;
}
.navbar{
    justify-content: space-around;
  max-width: 98%;
  margin: 0 auto; 
}
.btn-warning{
    background-color: #EF781A;
   margin-right: 30px;
   font-size: 1.6rem;
   font-weight: 700;
   padding:6px 10px ;
   color: white;
}
.form-control{
    width: 400px;
    padding: 5px 50px;
    border: 2px solid #323232;
    font-size: 1.5rem;
    font-weight: 500;
    background-image: url(../img/lockatoin.svg);
    background-position: 10px 5px;
    background-repeat: no-repeat;   
}
.mc-title{
    max-width: 86%;
  margin: 30px auto;
  font-weight: 800;
  font-size: 3.6rem;
}
body{
    min-width: 100%;
    background-color: #ECECEC;
}


.btn-light{
    background-color:#ECECEC ;
    border-color: #ECECEC;
    font-size: 1.8rem;
    font-weight: 500;
    color: #7B7B7B;
}
.btn-light:hover{
    color: #343434;
    background-color:  #C4C4C4;
}
.main-wrap{
    max-width: 80%;
   
    margin-left: 7%;
}
.container-fluid{
    margin-left: -3%;
}
.section-title{
    font-size: 2.4rem;
    font-weight: 700;
}
.card-title{
    font-size: 1.8rem;
    font-weight: 500;
}
.card-text{
    font-weight: 500;
    color: #A1A1A1;
}
.btn-primary{
    transition:2s;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 15px;
}
.show{
    display: none;
    
}
.card :hover .price{
    display: none;
}
.card :hover .show{
    display: inline-block;
    background-color: #FF6C01;
    
}
.row{
max-width: 1000px;
display: flex;
}

.card{
   
    height: 270px;
    padding: 0;
    margin-right: 50px;
    margin-top: 50px;
    box-shadow: 0px 8px 2px 1px   rgba(0, 0, 0, 0.25);
}
.price{
    font-size: 1.8rem;
    font-weight: 500;
}
.flex{
    display: flex;
    justify-content: space-between;
    
}
.card :hover path{
    fill: #00D008;
}
.section{
    margin-bottom: 80px;
}
.order{
    height: 220px;
    width: 320px;
    background-color: white;
    position: absolute;
    top: 40%;
    margin-left:900px;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-top: 1%;
    border-radius: 15px;
    
    
}

@media screen and (max-width:1200px){
    .order{
        margin-left: 800px;
    }
}
@media screen and (max-width:1082px){
    .order{
        margin-left: 600px;
       top: 25%;
    }
}
@media screen and (max-width:962px){
    .order{
        
        display: none;
    }
}
.order-title{
    font-size: 1.8rem;
    font-weight: 700;
}
.order-name{
    font-weight: 500;
    font-size: 1.4rem;
}
.order-list{
   
    font-weight: 500;
    color: #979797;
}
.order-delivery{
    display: flex;
    justify-content: space-between ;
    max-width: 80%;
    font-size: 1.4rem;
    font-weight: 500;
}
.order-btn{
    display: flex;
    justify-content: space-between ;
    padding: 5px 10px;
    font-size: 1.8rem;
    font-weight: 700;
    background-color: #FF6C01;
    border-radius: 12px;
   margin-top: 15px;
    color: white;
   max-width: 90%;
  min-width: 90%;

}
.order :hover ~ .order-btn {
    background-color: #00D008;
    scale: 1.15;
}
.order-name span{
    background-color:#FF6C01 ;
    padding: 1.5% 2.5% 2% 3%;
    border-radius: 50%;
    color: white;
}
.order-name :nth-child(2){
    padding:  1.5% 3.5% 2% 3.5%;
}
.partners{
    background-color: white;
    max-width: 75%;
    padding-left: 20px;
    margin-top: 3rem;
}
.partners-title{
    color: #999999;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1rem;
}
.partners-text{
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 0.5rem;
}
.anchor-cont{
    margin-top: 5rem;
    position: relative;
    
   
}
.anchor{
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 50%;
    background-image: url(../img/anchor.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;  
}
.footer{
    height: 150px;
    background: linear-gradient(100deg, #323232 , #000000 );
    min-width: 100%;
    margin-top: 70vh;

}
.footer-wrap{
    display: flex;
    justify-content: space-around;
    
}
.footer-cont a{
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
}
.footer-wrap ol{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 25%;
    
}
.footer-wrap li{
list-style-type: none;
margin-left: 2rem;
}